.buy-prod-page {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    /* border: 1px solid red; */
}

.delivery-container {
    box-sizing: border-box;
    padding: 10px;
    
    height: fit-content;
    /* max-width: 350px; */
    /* border: 1px solid green; */
    border-radius: 15px;
    background-color: var(--header);
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: 10px;
}

.del-method ,
.pay-methods{
    display: flex;

    justify-content: space-around;
}

.active,
.deactive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 250px;
    height: 40px;
    gap: 5px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.active {
    border: 2px solid var(--primary);
    color: var(--primary);
}

.deactive {
    border: 2px solid var(--muted-text);
    color: var(--muted-text);
}

.cust-full-name,
.cust-full-email,
.cust-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.address-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 15px;
}

.address-home-no,
.address-city,
.address-pincode,
.address-district,
.address-state {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 150px;
}

.read-terms {
    display: flex;
    align-items: center;
    gap: 5px;
}

.delivery-container input {
    background: none;
    border: 2px solid var(--text);
    border-radius: 10px;
    height: 30px;
    max-width: 350px;
    outline-color: var(--primary);
    color: var(--text);
    padding: 0px 5px;
}

.payment-container {
    box-sizing: border-box;
    padding: 10px;
    /* border: 1px solid green; */
    background-color: var(--header);
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--text);
    gap: 10px;
}
.display-cart-prod{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 280px;
    
    border: 2px solid var(--highlight);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}
.price-box{
    display:flex;
    flex-direction: column;
    font-size: 14px;
}
.price-box div{
    display: flex;
    justify-content: space-between;
}
.payment-method-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* min-width: 270px; */
    max-width: 350px;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    
    margin-top: 15px;
    border: 1px solid var(--highlight);
    border-radius: 10px;
}
.buying-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.buying-btn button{
    width: 260px;
    height: 35px;
    border: none;
    background-color: var(--btn);
    border-radius: 10px;
}
.card-detail input{
    background: none;
    border: 2px solid var(--text);
    border-radius: 10px;
    height: 30px;
    max-width: 350px;
    outline-color: var(--primary);
    color: var(--text);
    padding: 0px 5px;
}
.buying-btn button:hover{
    background-color: rgb(219, 72, 4);
    transform: scale(0.98);
    transition: all 200ms;
}

.buying-btn button:active{
    background-color: rgb(219, 72, 4);
    transform: scale(0.92);
    transition: all 200ms;
}
.buying-btn button:disabled{
    background-color: var(--btn);
    transform: scale(1);
}
@media (max-width:750px) {
    .buy-prod-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .payment-container {
        width: 100%;
    }

    .delivery-container {
        width: 100%;
    }
}

@media (min-width:751px) {
    .buy-prod-page {
        display: flex;
        gap: 5px;
        justify-content: space-evenly;
    }

    .payment-container {
        width: 45%;
    }

    .delivery-container {
        width: 45%;
    }
}