:root{
  --font-family: 'Poppins';
  
}
@media(prefers-color-scheme:dark ){
  :root{
    --text:#E0E0E0;
    --background:#1f1f1f;
    --header:black;
    --sec-back:#252525;
    --primary:#90CAF9;
    --authContainerBack:black;
    --authBack : url("./assets/darkLoginPageSideImg.png");
  }
}
@media(prefers-color-scheme: light){
  :root{
    --text:#212121;
    --background:#d6d6d6;
    --header:white;
    --sec-back:#e8e8e9;
    --authContainerBack:white;
    --primary: blue;
    
  --authBack : url("./assets/loginPageSideImg.png");
  }
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}



