:root{
  --font-family: 'Poppins';
  
}
@media(prefers-color-scheme:dark ){
  :root{
    --text:#E0E0E0;
    --background:#1f1f1f;
    --header:black;
  }
}
@media(prefers-color-scheme: light){
  :root{
    --text:#212121;
    --background:#d6d6d6;
    --header:white;
  }
}
*{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}



