:root {
  --font-family: 'Poppins';

}

@media(prefers-color-scheme:dark) {
  :root {
    --btn:#ff5e00;
    --muted-text:rgb(170, 168, 168);
    --toast-error:rgb(56, 27, 27);
    --toast-success:rgb(39, 58, 39);
    --highlight:#2c2c2c;
    --text: #E0E0E0;
    --background: #1f1f1f;
    --header: black;
    --sec-back: #252525;
    --primary: rgb(144, 202, 249);
    --authContainerBack: black;
    --authBack: url("./assets/darkLoginPageSideImg.png");
    --sidebar: rgb(28, 32, 31);
    --card-bg:#1E1E1E;
    --chat-list-bg:#1e241e;
    --mess-outer:#262d31;
    --offers-main:rgb(18, 52, 56);
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --offers-main:rgb(177, 233, 233);
    --muted-text:rgb(34, 34, 34);
    --card-bg:#FFFFFF;
    --btn:#FF5722;
    --toast-error:rgb(248, 201, 201);
    --toast-success:rgb(200, 255, 200);
    --highlight:#cfcfcf;
    --text: #212121;
    --background: #d6d6d6;
    --header: white;
    --sec-back: #e8e8e9;
    --authContainerBack: white;
    --primary: blue;
    --sidebar: rgb(207, 255, 247);
--chat-list-bg:#d9ffd9;
--mess-outer:rgb(101, 199, 145);

    --authBack: url("./assets/loginPageSideImg.png");
  }
}
.scrollable{
  overflow-y: scroll;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);

}
.loading-div{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  display: flex;
background-color: rgba(129, 129, 129, 0.055);
backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}
.loading-div img{
  width: 40px;
  height: 40px;
}